.heading {
  margin-bottom: 20px;
}

.title {
  color: rgba(0, 0, 0, 0.856);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 5px;
  line-height: 1;
}

.area {
  opacity: 0.5;
  font-size: 14px;
}

.video-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.video {
  width: 700px;
  border: none;
  height: calc(700px / 1.78);
}

.headline {
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
}

.preparation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 400px;
  margin-right: 30px;
  object-fit: cover;
}

.ingredients h4 {
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 1;
}

.ingredients ul {
  list-style: circle inside;
}

.ingredients li {
  font-size: 14px;
  opacity: 0.8;
}

.instructions {
  max-width: 650px;
  text-align: justify;
  margin: 30px auto;
}

.instructions p {
  font-size: 14px;
}

@media screen and (max-width: 425px) {
  .video {
    width: calc(100vw - 60px);
    height: calc((100vw - 20px) / 1.78);
  }

  .preparation {
    flex-direction: column;
    align-items: flex-start;
  }

  .preparation .image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .headline {
    font-size: 13.5px;
  }

  .heading .title {
    font-size: 30px;
  }
}
