.not-found-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 90px);
  color: rgb(172, 34, 0);
  width: 100vw;
}

.not-found-page > h1 {
  font-size: 150px;
}

.not-found-page > p {
  font-weight: bold;
  font-size: 30px;
}
